*{
	margin: 0;
	padding: 0;
	font-family: 'lato',sans-serif;
	box-sizing: border-box;
	list-style: none;
}

body{
	background: #585c68;
	font-size: 14px;
	line-height: 35px;
	color: #555555;

}
.resume{
	width: 755px;
	background: #fff;
	margin: 25px auto;
	display: flex;
}
.resume-left{
	background: #FF8C00;
	width: 285px;
	padding: 0 20px;
}
.resume > .resume-left > .resume-img > img{
	display: inline-block;
	border-radius: 50%;
	text-align:center;
	padding: 25px 0 ;
}
.resume .resume-left .bold{
	color:#fff;
}
.bold{
	font-weight: 650;
    font-size: 17px;
    text-transform: uppercase;
}
.resume .resume-left .regular{
	font-size: 16px;

	color:#b1eaff;
}
.title h1{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding-bottom: 10px;
	color: #FFFFFF;
	position: relative;
	text-align: center;
	margin-bottom: 15px;
}
.title h1:before{
	content: ' ';
	position: absolute;
	top: 35px;
	right: center;
	width: 100%;
	height: 3px;
	background: #FFFFFF;
}
.resume-left .icon{
	font-size: 20px;
	color:#0bb5f4;
	width: 35px;
	height: 35px;
	background: #fff;
	border-radius: 50%;
	margin-right: 15px;
	position: relative;
}
.resume-left .icon i{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.resume .resume-left .Skills ul li {
	display: flex;
	color: #b1eaff;
	justify-content: space-between;
}
.resume .resume-left .Skills ul li .text{
	width: 25%;
}
.resume .resume-left .Skills ul li .skill-progress{
	width: 60%;
	margin:0 5px;
	height: 6px;
	bottom: -15px;
	background: #009fd9;
	position: relative;
}
.resume .resume-left .Skills ul li .skill-per{
	width: 15px;
}
.resume .resume-left .Skills ul li .skill-progress span {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	background-color: white;
}	
.resume-left .text{
	color: #A9E7FE;
	text-transform: uppercase; /* viết hoa*/
	font-size: 15 px;
}
.header{
	background: #0BB5F4;
	width:510px;
	padding: 15px 30px;
}
.header .abot-me{
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 700;
	color: #3525af;	
	text-shadow: 2px 2px #ff0000;
}
.header .about{
	margin-top: 10px;
	line-height: 26px;
	font-size: 15px;
	width: 480px;
	color:#fff;
}
.right-article{
	padding: 30px;
	color: #292b2f;
}
.right-article .education{
	margin-top: 30px;
}
.right-article .li-wrap{
	display: flex;
	margin-bottom: 15px;
}
.right-article .li-wrap .date{
	width: 125px;
    color: #9153c9;
}
.right-article .li-wrap .info{
	width: calc(100%  - 125px);
	padding-left: 25px;
	position: relative;
}
.right-article .li-wrap .info-title{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color: #9153c9;
}
.right-article .li-wrap .info-cont{
	margin-top: 15px;
	font-size: 15px;
}
.right-article .li-wrap .info-school{
	margin-top: 15px;
	font-size: 15px;
	width: 255px;
}
.right-article .li-wrap .info:after{
	content: "";
	position: absolute;
	top: 10px;
	left: 4px;
	width: 2px;
	height: 90%;
	background: #9153c9;
}
.right-article .title{
	color: #0BB5F4;
	left: 140px;
	height: 50px;
	position: relative;
	font-size: 30px;
}
.right-article .exp .title:before{
	content: ' ';
	position: absolute;
	top: 30px;
	right: 220px;
	width: 232px;
	height: 3px;
	background: #0BB5F4;
}
.right-article .education .title:before{
	content: ' ';
	position: absolute;
	top: 30px;
	 right: 310px;
	width: 142px;
	height: 3px;
	background: #0BB5F4;
}